body{
    background-color: #f5f1f1;
}

.like-btn:hover{
    color: rgb(218, 40, 40);
}

.gradient-custom {
    
    background: #6a11cb;

    
    background: -webkit-linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1));

    
    background: linear-gradient(to right, rgba(106, 17, 203, 1), rgba(252, 37, 48, 0.973))
    }
    

.icon-size{
    font-size: 70px;
    margin: 16px;

}

